In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import pycaret
from pycaret.classification import *
from pycaret.datasets import get_data

In [6]:
data_pm = pd.read_csv('train2.csv')
data_pm

             DATETIMEDATA  PM25         O3  WS  TEMP    RH     WD
0     2024-01-01 00:00:00  16.5  16.000000   1  27.0  79.0  115.0
1     2024-01-01 01:00:00  33.6  11.479814   1  27.0  82.0   97.0
2     2024-01-01 02:00:00  34.2  11.479814   1  26.0  84.0   96.0
3     2024-01-01 03:00:00  20.1  11.479814   1  26.0  82.0  108.0
4     2024-01-01 04:00:00  16.5   1.000000   1  27.0  79.0  106.0
...                   ...   ...        ...  ..   ...   ...    ...
1531  2024-03-04 19:00:00  17.5  27.000000   2  29.0  70.0  116.0
1532  2024-03-04 20:00:00  23.9  27.000000   2  29.0  73.0  115.0
1533  2024-03-04 21:00:00  20.4  29.000000   2  28.0  75.0  113.0
1534  2024-03-04 22:00:00  19.5  24.000000   1  28.0  77.0  110.0
1535  2024-03-04 23:00:00  20.1  13.208916   1  28.0  77.0  110.0

[1536 rows x 7 columns]

In [10]:
from pycaret.regression import *
clf1 = setup(data_pm, target='PM25', session_id = 123)

In [11]:
best_model = compare_models()

In [12]:
en = create_model('en')

In [13]:
tuned_model = tune_model(en)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [14]:
ensem = ensemble_model(en , n_estimators=50)

In [ ]:
test = pd.read_csv('test_to_predict.csv')
predict_model(bagged,data=test)