In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import pycaret
from pycaret.classification import *
from pycaret.regression import *
from pycaret.datasets import get_data

In [3]:
data_pm = pd.read_csv('data_predict.csv')
data_pm

             DATETIMEDATA  PM25         O3  WS  TEMP    RH     WD
0     2024-01-01 00:00:00  16.5  16.000000   1  27.0  79.0  115.0
1     2024-01-01 01:00:00  33.6  11.044944   1  27.0  82.0   97.0
2     2024-01-01 02:00:00  34.2  11.044944   1  26.0  84.0   96.0
3     2024-01-01 03:00:00  20.1  11.044944   1  26.0  82.0  108.0
4     2024-01-01 04:00:00  16.5   1.000000   1  27.0  79.0  106.0
...                   ...   ...        ...  ..   ...   ...    ...
1672  2024-03-10 16:00:00  25.3  30.000000   1  31.0  53.0  194.0
1673  2024-03-10 17:00:00  23.9  28.000000   1  30.0  57.0  214.0
1674  2024-03-10 18:00:00  24.1  27.000000   1  29.0  63.0  202.0
1675  2024-03-10 19:00:00  28.6   4.000000   1  29.0  64.0  138.0
1676  2024-03-10 20:00:00  29.8  10.000000   1  29.0  67.0  122.0

[1677 rows x 7 columns]

In [4]:
data_pm['DATETIMEDATA'] = pd.to_datetime(data_pm['DATETIMEDATA'])

In [5]:
regression_setup = setup(data_pm, target='PM25', session_id=123, date_features=['DATETIMEDATA'], normalize=True)

In [6]:
best = compare_models()

Initiated  . . . . . . . . . . . . . . . . . .             00:36:02
Status     . . . . . . . . . . . . . . . . . .  Selecting Estimator
Estimator  . . . . . . . . . . . . . . . . . .    Linear Regression

In [8]:
model = create_model('et')

In [9]:
tuned_model = tune_model(model)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [10]:
model_ensem20 = ensemble_model(tuned_model, n_estimators=20)

In [12]:
last_time = data_pm['DATETIMEDATA'].max()

start_date = last_time + pd.DateOffset(hours=1)
end_date = start_date + pd.DateOffset(days=12, hours=23)  
next_week_hours = pd.date_range(start=start_date, end=end_date, freq='D')

In [13]:
next_data = pd.DataFrame({'DATETIMEDATA': next_week_hours})
next_data['O3'] = 0
next_data['WS'] = 0
next_data['TEMP'] = 0
next_data['RH'] = 0
next_data['WD'] = 0

In [14]:
model_predictions = predict_model(model_ensem20, data=next_data)

In [15]:
mpdf = pd.DataFrame(model_predictions, columns=['DATETIMEDATA', 'prediction_label'])
mpdf = mpdf.rename(columns={'prediction_label': 'PM25'})

print(mpdf)

          DATETIMEDATA       PM25
0  2024-03-10 21:00:00  22.759762
1  2024-03-11 21:00:00  22.821399
2  2024-03-12 21:00:00  22.838767
3  2024-03-13 21:00:00  22.697659
4  2024-03-14 21:00:00  22.495483
5  2024-03-15 21:00:00  22.091482
6  2024-03-16 21:00:00  21.910590
7  2024-03-17 21:00:00  21.791230
8  2024-03-18 21:00:00  21.578651
9  2024-03-19 21:00:00  21.484950
10 2024-03-20 21:00:00  22.185365
11 2024-03-21 21:00:00  22.083616
12 2024-03-22 21:00:00  21.385232

In [16]:
df = pd.DataFrame(mpdf)
df['DATETIMEDATA'] = pd.to_datetime(df['DATETIMEDATA'])
df['DATETIMEDATA'] = df['DATETIMEDATA'].dt.date
df

   DATETIMEDATA       PM25
0    2024-03-10  22.759762
1    2024-03-11  22.821399
2    2024-03-12  22.838767
3    2024-03-13  22.697659
4    2024-03-14  22.495483
5    2024-03-15  22.091482
6    2024-03-16  21.910590
7    2024-03-17  21.791230
8    2024-03-18  21.578651
9    2024-03-19  21.484950
10   2024-03-20  22.185365
11   2024-03-21  22.083616
12   2024-03-22  21.385232

In [17]:
df.to_csv('new_model_predict.csv', index=False)

In [18]:
evaluate_model(model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦